.header{
  width: 375px;
  min-height: 96px;
  margin:auto;
  background-color: rgb(32,32,32);
  padding: 0 15px 0;
}


@media(min-width: 1440px){
  .header{
    width:1390px;
    min-height: 143px;
    padding: 0 23px 0;
  }
}