.header-networks{
  display: none;
}

.header-networks__connect{
  display: none;
}

.header-networks__phone{
  display:none;
}

@media(min-width: 1440px){
  .header-networks{
    display: flex;
    margin-left: (97/1440)*100%;
  }

  .header-networks__item:nth-child(2),
  .header-networks__item:nth-child(3),
  .header-networks__item:nth-child(4){
  margin-left: 21px;
  }

  .header-networks__item-link{
    display: block;
  }


  .header-networks__connect{
    display: block;
    text-decoration: underline;
    color:rgb(255,255,255);
    margin-left: (52/1440)*100%;
  }


  .header-networks__phone{
    display: block;
    text-transform: uppercase;
    color:rgb(255,255,255);
    margin-left:(30/1440)*100%;
  }



}
