@font-face {
  font-family:'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  src:url('../../fonts/Gilroy-Bold.ttf') format('ttf');
}

@font-face {
  font-family:'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 300;
  src:url('../../fonts/Gilroy-Light.ttf') format('ttf');
}

@font-face {
  font-family:'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 500;
  src:url('../../fonts/Gilroy-Medium.ttf') format('ttf');
}

@font-face {
  font-family:'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  src:url('../../fonts/Gilroy-Regular.ttf') format('ttf');
}