*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}


a{
text-decoration: none;
}


li{
  list-style: none;
}

.container{
  width: 100%;
}

.container--header{
  background-color: rgb(32,32,32);
}